:root {
	--neutral-50: #fafafa;
	// --neutral-100: #f5f5f5;
	// --neutral-200: #e5e5e5;
	--neutral-300: #d4d4d4;
	// --neutral-400: #a3a3a3;
	--neutral-500: #737373;
	// --neutral-600: #525252;
	// --neutral-700: #404040;
	--neutral-800: #262626;
	--neutral-900: #171717;
	--neutral-950: #0a0a0a;

	// --blue-50: #eff6ff;
	// --blue-100: #dbeafe;
	// --blue-200: #bfdbfe;
	// --blue-300: #93c5fd;
	// --blue-400: #60a5fa;
	// --blue-500: #3b82f6;
	--blue-600: #2563eb;
	// --blue-700: #1d4ed8;
	// --blue-800: #1e40af;
	// --blue-900: #1e3a8a;
	// --blue-950: #172554;
}
